html{
    box-sizing:border-box;
    margin:2rem;

}
body{
    background-color:peachpuff;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:0.7rem;
    justify-content:center;
    margin-top:1rem;
}
.container > h2 {
    text-align:center;
    font-size: 3rem;
    color:#42855B;
    margin:2rem;
}
.sign-button {
   text-decoration:none;
   font-family: 'Space Mono', monospace;
   background-color:#42855B;
   border:0 solid transparent;
   height: 5rem;
   border-radius:2rem;
    color:peachpuff;
    font-size:1.6rem;
    font-weight:bold;
    
}
.sign-button:hover {
    cursor:pointer;
    background-color:#483838;
}
@media only screen and (max-width: 600px) {
    .grid {
      right:0.2rem;
      left:0.2rem;
     
    }
    .sign-button {
        font-size: 0.9rem;
    }
  }